@tailwind base;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

*, *:focus {
  @apply outline-none;
}

html {
  @apply sm:py-8 bg-ghost-normal;
}

html, body, #app {
  @apply h-full min-h-full overflow-auto overflow-x-hidden;
}

body {
  @apply w-full max-w-screen-sm bg-body-normal text-body-content m-auto shadow-lg rounded-none sm:rounded-lg contain-layout;
}

hr {
  @apply border-ghost-normal;
}

@layer utilities {
  .contain-layout {
    contain: layout;
  }
}
